---
# On Ubuntu, any readable file that ends with .sh and is located in
# /etc/profile.d/ will be sourced by /etc/profile.
custom_bash_profile_src: thredds_test_bash_profile.sh
custom_bash_profile_dest: "/etc/profile.d/{{ custom_bash_profile_src }}"

# The variables thredds_test_user, thredds_test_user_uid, and thredds_test_user_gid are
# defined in the packer configuration located at packer/thredds-test-env.pkr.hcl.
users:
  - name: "{{ thredds_test_user }}"
    shell: /bin/bash
    uid: "{{ thredds_test_user_uid }}"
    gid: "{{ thredds_test_user_gid }}"
    group: "{{ thredds_test_user }}"

files2copy:
  - label: "maven settings"
    src: maven-settings.xml
    dest: "/home/{{ thredds_test_user }}/.m2/settings.xml"
    mode: "0755"

templates2copy:
  - label: "custom bash profile"
    src: "{{ custom_bash_profile_src }}"
    dest: "{{ custom_bash_profile_dest }}"
    mode: "0755"

default_java_version: 11
default_java_vendor: "temurin"
