---
- name: Update the run-time linker cache to include any newly built libraries.
  ansible.builtin.command: ldconfig

- name: "Cleanup the temporary build directory."
  ansible.builtin.file:
    path: "{{ tmp_dir }}"
    state: absent

- name: Remove packages that are not needed in final environment.
  ansible.builtin.apt:
    name: "{{ purgeable_packages }}"
    state: absent
    autoremove: true
    purge: true

- name: Run apt-get clean
  ansible.builtin.apt:
    clean: yes
