---

# The variable thredds_test_user is defined in the packer configuration
# located at packer/thredds-test-env.pkr.hcl.
- name: Ensure the '{{ cdmUnitTest_mount_dir }}' exists.
  file:
    path: "{{ cdmUnitTest_mount_dir }}"
    state: directory
    owner: "{{ thredds_test_user }}"
    group: "{{ thredds_test_user }}"
    mode: "0755"
