---
- name: Download and unpack zlib.
  ansible.builtin.unarchive:
    src: https://www.zlib.net/zlib-{{ zlib_version }}.tar.gz
    dest: "{{ tmp_dir }}"
    creates: "{{ zlib_src_dir }}"
    remote_src: yes
  register: unarchive_result
  retries: "{{ network_call_retries }}"
  delay: "{{ network_call_time_between_retries }}"
  until: unarchive_result.failed == false

- name: Configure zlib.
  ansible.builtin.command:
    argv:
      - cmake
      - -S
      - "{{ zlib_src_dir }}"
      - -B
      - "{{ zlib_build_dir }}"
      - "-DCMAKE_BUILD_TYPE={{ zlib_build_type }}"
      - "-DCMAKE_INSTALL_PREFIX={{ install_dir }}"
  args:
    chdir: "{{ tmp_dir }}"
    creates: "{{ zlib_build_dir }}/CMakeCache.txt"

- name: Build zlib.
  ansible.builtin.command:
    argv:
      - cmake
      - --build
      - "{{ zlib_build_dir }}"
      - --config
      - "{{ zlib_build_type }}"
      - -j
      - "{{ make_jobs}}"
  args:
    chdir: "{{ tmp_dir }}"
    creates: "{{ zlib_build_dir }}/bin/libz.so"

- name: Test zlib.
  ansible.builtin.command:
    argv:
      - ctest
      - -j
      - "{{ make_jobs }}"
  args:
    chdir: "{{ zlib_build_dir }}"

- name: Install zlib.
  ansible.builtin.command:
    argv:
      - cmake
      - --install
      - "{{ zlib_build_dir }}"
      - --config
      - "{{ zlib_build_type }}"
  args:
    chdir: "{{ tmp_dir }}"
    creates: "{{ install_dir }}/lib/libz.so"

- name: Update the run-time linker cache to include zlib.
  ansible.builtin.command: ldconfig
